gromacs/index_distance.ndx
gromacs/OneNanoSec_IR_run.xtc
gromacs/short_IR_run.tpr
gromacs/short_IR_run.xtc
gromacs/test_distance.xtc
gromacs/week10_IR.tpr
gromacs/week10_IR.trr
gromacs/week10_IR.xtc
gromacs/week8_ir_spec.xtc
